/* Global Styles */

/*

COLOR SCHEME

ACCENT|Cyan - #84dcc6
HOVERACCENT|DarkCyan - #165041

PAPER|White/Blue - #E0F2E9
HOVERPAPER|Blue/White - #C7DFE4

NAVBAR|DeepBlue - #1B263B
HOVERNAVBAR|DarkBlue - #0D1B2A

BACKGROUND|DullBlue - #444E60

LIGHTTEXT|White/Blue - #E0F2E9

*/

/* Firefox ignores first declaration for some reason */
dummydeclaration {
  padding-left: 4em;
} 

html {
  background-color: #444E60;
}

tab {
  padding-left: 4em;
}

.navbar {
  background-color:#1B263B;
  top:0;
  position:fixed;
  width:100%;
  height:75px;
}

.navbar-seperator {
  top:75px;
  position:fixed;
  width:100%;
  float: left;
  margin: auto;
}

.navbar-logo img {
  height:60px;
}

.navbar-tabs {
  list-style-type:none;
  padding-inline-start:0px;
  margin-block-start:0px;
  margin-block-end:0px;
  height:75px;
}

.navbar-tab {
  display:inline;
  float:left;
}

.navbar-tab-hover {
  background-color:#0D1B2A
}

.navbar-tab a {
  display:block;
  padding:25px;
}

.navbar-tab p {
  margin-bottom:0;
  line-height:25px;
  color:#E0F2E9
}

.navbar-tab a:hover {
  text-decoration: none;
}

.main-body {
  margin-top:85px;
  background-color: #444E60;
}

.fade-enter {
  opacity: 0.01;
}

.fade.enter.active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade.exit {
  opacity: 1;
}

.fade.exit.active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.section-seperator {
  height: .1em;
  margin: 0px;
  background-color: #E0F2E9;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadowHover-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadowHover-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #C7DFE4;
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadowHover-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadowHover-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #C7DFE4;
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadowHover-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadowHover-3:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #C7DFE4;
}

.FloatingActionButton-fab-1 {
  z-index: 99;
}

.btn-primary {
  background-color: #84dcc6;
  border-color: #343a40;
  color: #343a40;
}

.btn-primary:hover {
  background-color: #165041;
  border-color: #343a40;
  color: #E0F2E9;
}

.btn-outline-primary {
  border-color: #84dcc6;
  color: #343a40;
}

.btn-outline-primary:hover {
  background-color: #84dcc6;
  border-color: #343a40;
  color: #343a40;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 5rem;
    right: 10rem;
    z-index: 99;
  }
}

.card {
  background-color:#E0F2E9
}

.story-reader {
  max-width: 95%;
  margin: auto;
  height: 100%;
  font-size: 110%;
}

.story-title {
  font-size: 100%;
  text-align: center;
}

.story-subtitle {
  text-align: center;
    font-size: 90%
}

@media (min-width: 550px) {
  .story-title {
      font-size: 110%
  }

  .story-subtitle {
    font-size: 95%
  }

  .story-reader{
    font-size: 110%
  }

}

@media (min-width: 900px) {
  .story-title {
    font-size: 120%
  }

  .story-subtitle {
    font-size: 90%
  }

  .story-reader{
    font-size: 150%
  }

}
.story-reader .carousel-inner,
.story-reader .carousel-item {
  height: 100%;
}

.story-reader .carousel-control-prev,
.story-reader .carousel-control-next {
  width: 45%;
}

.story-reader .carousel-control-next-icon,
.story-reader .carousel-control-prev-icon,
.story-reader .carousel-indicators {
  display: none
}

.tab-container {
  margin:20px;

}

.nav-link {
  cursor: pointer;
}

.login-container {
  padding-left:150px;
  padding-right:150px;
}

.user-profile-header {
  display:flex;
  margin-bottom:2rem;
}

.user-profile-header h1 {
  flex:8;
  margin-bottom:0
}

.user-profile-header button {
  flex:1
}

.textField {
  display: flex;
}

.fieldLabel {
  flex:1
}

.fieldValue {
  flex:5
}
