/* Global Styles */

.fade-enter {
  opacity: 0.01;
}

.fade.enter.active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade.exit {
  opacity: 1;
}

.fade.exit.active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.story-reader {
  max-width: 95%;
  margin: auto;
  height: 100%;
  background: white
}

.story-reader .carousel-inner,
.story-reader .carousel-item {
  height: 100%;
}

.story-reader .carousel-control-next-icon,
.story-reader .carousel-control-prev-icon,
.story-reader .carousel-indicators {
  display: none
}
