/* Global Styles */

dummydeclaration {
  padding-left: 4em;
} /* Firefox ignores first declaration for some reason */

tab { 
  padding-left: 4em;
}

.navbar {
  background-color:#ddd;
  top:0;
  position:fixed;
  width:100%;
  height:75px;
}

.navbar-logo img {
  height:60px;
}

.navbar-tabs {
  list-style-type:none;
  padding-inline-start:0px;
  margin-block-start:0px;
  margin-block-end:0px;
  height:75px;
}
  
.navbar-tab {
  display:inline;
  float:left;
}

.navbar-tab-hover {
  background-color:#bbb
}

.navbar-tab a {
  display:block;
  padding:25px;
}

.navbar-tab p {
  margin-bottom:0;
  line-height:25px;
  color:#111
}

.navbar-tab a:hover {
  text-decoration: none;
}

.main-body {
  margin-top:85px;
}

.fade-enter {
  opacity: 0.01;
}

.fade.enter.active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade.exit {
  opacity: 1;
}

.fade.exit.active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.story-reader {
  max-width: 95%;
  margin: auto;
  height: 100%;
  background: white;
  font-size: 110%;
}

.story-title {
  font-size: 100%;
  text-align: center;
}

.story-subtitle {
  text-align: center;
    font-size: 90%
}

@media (min-width: 550px) {
  .story-title {
      font-size: 110%
  }

  .story-subtitle {
    font-size: 95%
  }

  .story-reader{
    font-size: 110%
  }

}

@media (min-width: 900px) {
  .story-title {
    font-size: 120%
  }

  .story-subtitle {
    font-size: 90%
  }

  .story-reader{
    font-size: 150%
  }

}
.story-reader .carousel-inner,
.story-reader .carousel-item {
  height: 100%;
}

.story-reader .carousel-control-prev,
.story-reader .carousel-control-next {
  width: 45%;
}

.story-reader .carousel-control-next-icon,
.story-reader .carousel-control-prev-icon,
.story-reader .carousel-indicators {
  display: none
}

.tab-container {
  margin:20px;

}

.nav-link {
  cursor: pointer;
}

.login-container {
  padding-left:150px;
  padding-right:150px;
}

.user-profile-header {
  display:flex;
  margin-bottom:2rem;
}

.user-profile-header h1 {
  flex:8;
  margin-bottom:0
}

.user-profile-header button {
  flex:1
}

.textField {
  display: flex;
}

.fieldLabel {
  flex:1
}

.fieldValue {
  flex:5
}